.outer{
    width: 80%;
    position: absolute;
    margin: 0rem 5rem 0rem 5rem;
}
.main{
    display:flex;
    flex-wrap : wrap;
    margin: 0rem 3rem 0rem 3rem;
}
.bottom{
    
    margin: 3rem 3rem 0rem 3rem;
}
.detail{
    width: 40%;
    min-width: 40%;
}
.day{
    border: 1px solid black;
    /* text-align: right; */
    min-width: 14.2%;
    max-width: 14.2%;
    min-height: 5rem;
    display:flex;
    flex-direction: column;
}
.scheduleBox{
     display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

}
.scheduleIcon{
    min-width: 0;
    flex-basis: 20%;
}
.header{
    display: flex;
    flex-direction: column;
    text-align: center;
   


}
.otherMonth{
    color : gray;
}
.btnGroup{
    align-self: flex-end;
    margin-right: 3rem;
}


#today{
   border: 3px solid red;
}